@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
/* * { box-sizing: border-box; } */

/* body {
  
  background: #aedaa6;
  font-family: "Raleway";
} */

.card {
  width: auto;
  height: 450px;
  position: absolute;
  background: white;
  margin: 0 auto;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all 0.3s;
  display: flex;
  /* flex-wrap: wrap; */

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
  
/* nav {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;
  
  svg.heart {
    height: 24px;
    width: 24px;
    float: right;
    margin-top: -3px;
    transition: all 0.3s ease;
    cursor: pointer;
    
    &:hover {
      fill: red;
    }
    
  }
  svg.arrow {
    float: left;
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
} */

.photo {
  padding: 0px;
  text-align: center;
  float: left;
  width: 54%;
}

.product-img{
  max-height: 450px;
  max-width: 90%;
  padding: 10px 10px;
  /* width: 60%; */
}

.product-img:hover {
  transform: scale(1.4); 
  transition: transform 1.0s ease-in-out; 
  cursor: zoom-in;
}

.description {
    padding: 10px 20px 0px 20px;
    float: left;
    width: 46%;
    border-left: 2px solid #efefef;
}

.description h1 {
  color: #515151;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

  .description h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  }

  .description h4 { 
    margin: 0;
    color: #727272;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px
  }

  .description p { 
    font-size: 12px; 
    line-height: 20px;
    color: #727272;
    padding: 20px 0;
    margin: 0;
}

  .description-button {
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 8px 0px;
    color: #515151;
    text-transform: uppercase;
    width: 100%;
    /* font-family: inherit; */
    margin: 0px 0px 30px 0px;
    transition: all 0.3s ease;
    font-weight: 500;
    
    &:hover {
      /* border: 1px solid #aedaa6;
      color: #aedaa6;
      cursor: pointer; */
      /* box-shadow: #aedaa6; */
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    &:active {
      /* color: rgb(32, 30, 30); */
      background-color: #aedaa6;
    }
  }

  .back-icon {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
  }

  .back-button-text:hover{
    cursor: pointer;
  }

  .back-button-button {
    background-color: white;
    margin-top: 2px;
  }