.button--flex-sub{
    display: inline-flex;
    align-items: center;
    column-gap: 0rem;
    margin-left: 0rem;
    margin-top: 0rem;
  }

  .footer-section{
    height: fit-content;
    margin-top: 10rem;
  }

  .footer__copy{
    margin: 0px;
  }