
.productImage{
    width: 250px;
    height: 250px;
    /* padding-left: 20px;
    padding-top: 10px; */
    /* margin-top: 10px; */
    /* margin-left: 20px; */
    border-style:hidden;
  }
  
  .image-Container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 84px;
  }
  
  .productCard{
    margin-left: 50px;
    /* max-width: 230px; */
    margin-top: 20px;
    /* border-style: solid; */
    border-width: 1px;
    border-radius: 2px;
}

button:active
{
    color:green;
    background-color:red;
}


  
  
  .addProduct {
    text-decoration: none;
    border: 1px solid rgb(20, 20, 21);
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #2b458a;
    text-transform: uppercase;
  } 
  
  .addProduct:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  .addProduct:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .addProduct:hover:before {
    left: 100%;
  }

  
