/* CSS for the form */
form {
  background-color: var(--first-color-lighten);
  display: grid;
  grid-template-rows: .3fr;
  margin: 0 auto;
  max-width: 600px;
  /* background-color: #f7f7f7; */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 400fr;
  overflow: hidden;
}

body {
  padding-top: 90px;
}


h1,
h2 {
  text-align: center;
}


label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


input[type="text"],
input[type="number"],
input[type="tel"],
textarea,
select {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
}


input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


input[type="submit"]:hover {
  background-color: #45a049;
}


/* Style for the seller information section */
h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}


/* Style for the form errors */
.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}


/* Style for the success message */
.success {
  color: #008000;
  font-size: 16px;
  margin-top: 10px;
}

.sellform__container {
  grid-template-columns: repeat(2, 5fr);
  position: relative;
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img {
    width: 180px;
  }

  .home__title {
    font-size: var(--h1-font-size);
  }

  .steps__bg {
    padding: 2rem 1rem;
  }

  .steps__card {
    padding: 1.5rem;
  }

  .product__container {
    grid-template-columns: .6fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .steps__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .buysell__container {
    grid-template-columns: repeat(1, 1fr);
  }


  .product__description {
    padding: 0 4rem;
  }

  .product__container {
    grid-template-columns: repeat(3, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer__subscribe {
    width: 400px;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .home__container,
  .about__container,
  .questions__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    padding: 0rem 0 5rem;
  }

  .home__container {
    align-items: center;
  }

  .home__img {
    width: 280px;
    order: 1;
  }

  .home__social {
    top: 30%;
  }

  .questions__container {
    align-items: flex-start;
  }

  .footer__container {
    column-gap: 3rem;
  }

  .footer__subscribe {
    width: 337px;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 9.3rem 0 1rem;
  }

  .section__title,
  .section__title-center {
    font-size: var(--h1-font-size);
  }

  .home {
    padding: 0rem 0 5rem;
  }

  .home__img {
    width: 350px;
  }

  .home__description {
    padding-right: 7rem;
  }

  .about__img {
    width: 380px;
  }

  .steps__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .buysell__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .steps__bg {
    padding: 3.5rem 2.5rem;
  }

  .steps__card-title {
    font-size: var(--normal-font-size);
  }

  .product__description {
    padding: 0 10rem;
  }

  .product__container {
    padding: 4rem 0;
    grid-template-columns: repeat(4, 185px);
    gap: 4rem 6rem;
  }

  .product__img {
    width: 160px;
  }

  .product__circle {
    width: 110px;
    height: 110px;
  }

  .product__title,
  .product__price {
    font-size: var(--normal-font-size);
  }

  .questions__container {
    padding: 1rem 0 4rem;
  }

  .questions__title {
    text-align: center;
  }

  .questions__group {
    row-gap: 2rem;
  }

  .questions__header {
    padding: 1rem;
  }

  .questions__description {
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .footer__logo {
    font-size: var(--h3-font-size);
  }

  .footer__container {
    grid-template-columns: 1fr .5fr .5fr .5fr;
  }

  .footer__copy {
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .home__social {
    right: -3rem;
    row-gap: 4.5rem;
  }

  .home__social-follow {
    font-size: var(--small-font-size);
  }

  .home__social-follow::after {
    width: 1.5rem;
    right: -60%;
  }

  .home__social-link {
    font-size: 1.15rem;
  }

  .about__container {
    column-gap: 7rem;
  }

  .scrollup {
    right: 3rem;
  }
}